$primary-color: #09c379;
$secondary-color: #6c757d;
$background-color: #f8f9fa;

.weatherCard {
    //padding:20px;
}

.content {
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: 30px;
    color: $secondary-color;
    text-align: center;
    margin: 0px;
    padding-bottom:20px;
  }
